.custom-file-control {
  overflow: hidden;
}

.btn-upload {
  background-color: #fff200;
  color: #495966;
  border-color: #fff200;
  margin-left: 10px;
}

.btn-upload:hover {
  background-color: #fff200;
  color: #495966;
}